
<div class="flex items-center justify-center min-h-screen px-4 py-12 bg-gray-50 sm:px-6 lg:px-6">
  <div class="w-full max-w-md space-y-8">
    <div>
      <img class="w-auto h-12 mx-auto " src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
      <h2 class="mt-6 text-3xl font-extrabold text-center texto ">
        LOGIN
      </h2>
    </div>

<form [formGroup] = 'formlogin' (ngSubmit)="login()" >
  <div *ngIf="viewmensaje"  class="flex py-2 mb-2 text-sm font-bold text-center text-white bg-red-500 rounded " role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-2 mr-2" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
    </svg>
    <p>{{mensaje}}</p>
  </div>
  <input type="text" class="w-full mb-2 text-gray-500 rounded-md focus:border-green-900 focus:ring-green-900" placeholder="User"  formControlName='email' >
  <input type="password" class="w-full mb-2 text-gray-500 rounded-md focus:border-green-900 focus:ring-green-900" formControlName='password'>
    <button type="submit" class="w-full p-2 mt-2 rounded-md boton" [disabled]='!texto' >
      <svg  *ngIf="spiner" class="w-5 h-5 mr-3 animate-spin " viewBox="0 0 24 24"></svg>
      <span *ngIf="texto" class="text-xl">Iniciar Sesión</span>
    </button>
</form>
  </div>
</div>

