$color1: #37AFA9;
$color2:#2D8E84;
$color3:#0C6950;
$color4:#E0F2F2;
$color5:#152329;
.boton{
  justify-content: center;
  display: flex;
  color:$color4;
  background-color: $color3;

}
.boton:hover{
  background-color: $color5;
}
.boton:disabled{
  background-color: $color1;
  color: $color5;
}
.animate-spin {
  border: 5px solid $color4; /* Light grey */
  border-top: 5px solid $color5; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
