<div>
  <h2 class="text-center text-gray-900">Cambiar Password</h2>
  <form [formGroup]='form'  (ngSubmit)='update()' >
    <div class="mb-6 md:flex md:items-center">
      <div class="md:w-1/3">
        <label class="block pr-4 mb-1 font-bold text-gray-500 md:text-right md:mb-0" for="inline-full-name" >
          Password Actual
        </label>
      </div>
      <div class="md:w-2/3">
        <input class="w-full px-4 py-2 leading-tight text-gray-700 bg-gray-200 border-2 border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-purple-500" type="password" formControlName='passback'>
      </div>
    </div>
    <div class="mb-6 md:flex md:items-center">
      <div class="md:w-1/3">
        <label class="block pr-4 mb-1 font-bold text-gray-500 md:text-right md:mb-0" for="inline-full-name">
          Password Nueva
        </label>
      </div>
      <div class="md:w-2/3">
        <input class="w-full px-4 py-2 leading-tight text-gray-700 bg-gray-200 border-2 border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-purple-500" type="password" formControlName='password1'>
      </div>
    </div>
    <div class="mb-6 md:flex md:items-center">
      <div class="md:w-1/3">
        <label class="block pr-4 mb-1 font-bold text-gray-500 md:text-right md:mb-0" for="inline-full-name">
          Repetir Password
        </label>
      </div>
      <div class="md:w-2/3">
        <input class="w-full px-4 py-2 leading-tight text-gray-700 bg-gray-200 border-2 border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-purple-500" type="password" formControlName='password2'>
      </div>
    </div>
    <div *ngIf="viewmensaje"  class="flex py-2 text-sm text-center text-white bg-red-500 rounded " role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-2 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
      </svg>
      <p>{{mensaje}}</p>
    </div>
    <button type="submit" class="w-full p-2 mt-2 rounded-md boton" [disabled]='!texto' >
      <svg  *ngIf="spiner" class="w-5 h-5 mr-3 animate-spin " viewBox="0 0 24 24"></svg>
      <span *ngIf="texto" class="text-xl">Actualizar</span>
    </button>
  </form>
</div>
